In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"./Aleppo2017_processed.csv",encoding='utf-8')
print(df.head())

    id                 time     gl
0  183  2015-05-16 05:35:41  162.0
1  183  2015-05-16 05:30:41  164.0
2  183  2015-05-16 05:25:41  168.0
3  183  2015-05-16 05:20:41  169.0
4  183  2015-05-16 05:15:41  170.0

In [10]:
ID = df['id'].value_counts().index
print(ID)

Index([263,  77, 193, 277, 229, 245, 155, 251, 111, 164,
       ...
       128, 264, 186, 162, 249,  39,  52, 266, 223, 289],
      dtype='int64', name='id', length=226)

In [11]:
data = df.groupby('id')
pd.set_option('display.max_rows',100)
data.size()

id
2      68055
3      72521
5      54283
7      78663
8      51815
       ...
289    16439
290    64999
291    62832
292    61514
293    61037
Length: 226, dtype: int64

In [12]:
data = df[df['id']== 263]

# 设置datetime数据类型
data['time'] = pd.to_datetime(data['time'])

# 按照时间排序
data = data.sort_values(by='time')   

pd.set_option('display.max_rows',100)

data

C:\Users\admin\AppData\Local\Temp\ipykernel_7708\2478696040.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'])

          id                time     gl
9876862  263 2015-01-04 03:11:00   89.0
9876861  263 2015-01-04 03:16:00   87.0
9876860  263 2015-01-04 03:21:00   84.0
9876859  263 2015-01-04 03:26:00   83.0
9876858  263 2015-01-04 03:31:00   82.0
...      ...                 ...    ...
9794821  263 2016-02-16 10:42:35  176.0
9794820  263 2016-02-16 10:47:35  171.0
9794819  263 2016-02-16 10:52:35  167.0
9794818  263 2016-02-16 10:57:35  162.0
9794817  263 2016-02-16 11:02:35  159.0

[94680 rows x 3 columns]

##   提取某一天的数据

In [15]:
desired_date = pd.to_datetime('2015-05-22').date()  # 筛选的日期，只保留日期信息

filtered_data = data[data['time'].dt.date == desired_date].copy()
print(filtered_data.shape)
filtered_data.loc[:, 'hour'] = filtered_data['time'].dt.hour

# 按小时分组，计算每小时内的数据条数
result = filtered_data.groupby('hour').size()

print(result)

(417, 3)
hour
0     12
1     12
2     12
3     12
4     12
5     12
6     12
7     12
8      5
9      9
10    12
11    12
12    18
13    24
14    24
15    24
16    24
17    24
18    24
19    25
20    24
21    24
22    24
23    24
dtype: int64

In [27]:
def reset_seconds(dt):
    return dt.replace(second=0)

filtered_data['time'] = filtered_data['time'].apply(reset_seconds)
pd.set_option('display.max_rows',1000)
filtered_data

          id                time     gl  hour
9853333  263 2015-07-01 00:01:00  208.0     0
9853332  263 2015-07-01 00:06:00  205.0     0
9852948  263 2015-07-01 00:11:00  200.0     0
9852947  263 2015-07-01 00:16:00  196.0     0
9852946  263 2015-07-01 00:21:00  196.0     0
9852945  263 2015-07-01 00:26:00  198.0     0
9852944  263 2015-07-01 00:31:00  199.0     0
9852943  263 2015-07-01 00:36:00  202.0     0
9852942  263 2015-07-01 00:41:00  204.0     0
9852941  263 2015-07-01 00:46:00  206.0     0
9852940  263 2015-07-01 00:51:00  208.0     0
9852939  263 2015-07-01 00:56:00  211.0     0
9852938  263 2015-07-01 01:01:00  210.0     1
9852937  263 2015-07-01 01:06:00  210.0     1
9852936  263 2015-07-01 01:11:00  209.0     1
9852935  263 2015-07-01 01:16:00  207.0     1
9852934  263 2015-07-01 01:21:00  203.0     1
9852933  263 2015-07-01 01:26:00  209.0     1
9852932  263 2015-07-01 01:31:00  208.0     1
9852931  263 2015-07-01 01:36:00  206.0     1
9852930  263 2015-07-01 01:41:00  204.0     1
9852929  263 2015-07-01 01:46:00  202.0     1
9852928  263 2015-07-01 01:51:00  201.0     1
9852927  263 2015-07-01 01:56:00  200.0     1
9852926  263 2015-07-01 02:01:00  200.0     2
9852925  263 2015-07-01 02:06:00  200.0     2
9852924  263 2015-07-01 02:11:00  200.0     2
9852923  263 2015-07-01 02:16:00  201.0     2
9852922  263 2015-07-01 02:21:00  202.0     2
9852921  263 2015-07-01 02:26:00  203.0     2
9852920  263 2015-07-01 02:31:00  201.0     2
9852919  263 2015-07-01 02:36:00  203.0     2
9852918  263 2015-07-01 02:41:00  202.0     2
9852917  263 2015-07-01 02:46:00  201.0     2
9852916  263 2015-07-01 02:51:00  199.0     2
9852915  263 2015-07-01 02:56:00  198.0     2
9852914  263 2015-07-01 03:01:00  199.0     3
9852913  263 2015-07-01 03:06:00  201.0     3
9852912  263 2015-07-01 03:11:00  206.0     3
9852911  263 2015-07-01 03:16:00  202.0     3
9852910  263 2015-07-01 03:21:00  200.0     3
9852909  263 2015-07-01 03:26:00  199.0     3
9852908  263 2015-07-01 03:31:00  199.0     3
9852907  263 2015-07-01 03:36:00  198.0     3
9852906  263 2015-07-01 03:41:00  197.0     3
9852905  263 2015-07-01 03:46:00  196.0     3
9860177  263 2015-07-01 03:51:00  194.0     3
9860176  263 2015-07-01 03:56:00  196.0     3
9860175  263 2015-07-01 04:01:00  196.0     4
9860174  263 2015-07-01 04:06:00  198.0     4
9860173  263 2015-07-01 04:11:00  200.0     4
9860172  263 2015-07-01 04:16:00  202.0     4
9860171  263 2015-07-01 04:21:00  204.0     4
9860170  263 2015-07-01 04:26:00  203.0     4
9860169  263 2015-07-01 04:31:00  206.0     4
9860168  263 2015-07-01 04:36:00  208.0     4
9860167  263 2015-07-01 04:41:00  206.0     4
9860166  263 2015-07-01 04:46:00  202.0     4
9860165  263 2015-07-01 04:51:00  205.0     4
9860164  263 2015-07-01 04:56:00  207.0     4
9860163  263 2015-07-01 05:01:00  207.0     5
9860162  263 2015-07-01 05:06:00  210.0     5
9860161  263 2015-07-01 05:11:00  211.0     5
9860160  263 2015-07-01 05:16:00  212.0     5
9860159  263 2015-07-01 05:21:00  210.0     5
9860158  263 2015-07-01 05:26:00  210.0     5
9860157  263 2015-07-01 05:31:00  209.0     5
9860156  263 2015-07-01 05:36:00  209.0     5
9860155  263 2015-07-01 05:41:00  210.0     5
9860154  263 2015-07-01 05:46:00  211.0     5
9860153  263 2015-07-01 05:51:00  213.0     5
9860152  263 2015-07-01 05:56:00  214.0     5
9860151  263 2015-07-01 06:01:00  216.0     6
9860150  263 2015-07-01 06:06:00  214.0     6
9860149  263 2015-07-01 06:11:00  217.0     6
9860148  263 2015-07-01 06:16:00  217.0     6
9860147  263 2015-07-01 06:21:00  221.0     6
9860146  263 2015-07-01 06:26:00  222.0     6
9860145  263 2015-07-01 06:31:00  223.0     6
9860144  263 2015-07-01 06:36:00  225.0     6
9860143  263 2015-07-01 06:41:00  230.0     6
9860142  263 2015-07-01 06:46:00  247.0     6
9860141  263 2015-07-01 06:51:00  249.0     6
9860140  263 2015-07-01 06:56:00  251.0     6
9859127  263 2015-07-01 07:01:00  253.0     7
9859126  263 2015-07-01 07:06:00  253.0     7
9859125  263 2015-07-01 07:11:00  250.0     7
9859124  263 2015-07-01 07:16:00  247.0     7
9854824  263 2015-07-01 07:18:00  240.0     7
9859123  263 2015-07-01 07:21:00  239.0     7
9859122  263 2015-07-01 07:26:00  239.0     7
9859121  263 2015-07-01 07:31:00  239.0     7
9859120  263 2015-07-01 07:36:00  238.0     7
9859119  263 2015-07-01 07:41:00  236.0     7
9859118  263 2015-07-01 07:46:00  233.0     7
9859117  263 2015-07-01 07:51:00  230.0     7
9859116  263 2015-07-01 07:56:00  228.0     7
9859115  263 2015-07-01 08:01:00  225.0     8
9854823  263 2015-07-01 10:30:00  261.0    10
9854822  263 2015-07-01 10:31:00  278.0    10
9859114  263 2015-07-01 10:31:00  264.0    10
9859113  263 2015-07-01 10:36:00  275.0    10
9859112  263 2015-07-01 10:41:00  271.0    10
9859111  263 2015-07-01 10:46:00  262.0    10
9859110  263 2015-07-01 10:51:00  263.0    10
9859109  263 2015-07-01 10:56:00  261.0    10
9859108  263 2015-07-01 11:01:00  267.0    11
9859107  263 2015-07-01 11:06:00  269.0    11
9859106  263 2015-07-01 11:11:00  278.0    11
9859105  263 2015-07-01 11:16:00  285.0    11
9859104  263 2015-07-01 11:21:00  286.0    11
9859103  263 2015-07-01 11:26:00  287.0    11
9859102  263 2015-07-01 11:31:00  285.0    11
9859101  263 2015-07-01 11:36:00  289.0    11
9859100  263 2015-07-01 11:41:00  286.0    11
9859099  263 2015-07-01 11:46:00  281.0    11
9859098  263 2015-07-01 11:51:00  275.0    11
9859097  263 2015-07-01 11:56:00  272.0    11
9859096  263 2015-07-01 12:01:00  274.0    12
9859095  263 2015-07-01 12:06:00  279.0    12
9859094  263 2015-07-01 12:11:00  282.0    12
9859093  263 2015-07-01 12:16:00  280.0    12
9859092  263 2015-07-01 12:21:00  259.0    12
9859091  263 2015-07-01 12:26:00  252.0    12
9859090  263 2015-07-01 12:31:00  249.0    12
9859089  263 2015-07-01 12:36:00  247.0    12
9859088  263 2015-07-01 12:41:00  243.0    12
9859087  263 2015-07-01 12:46:00  239.0    12
9859086  263 2015-07-01 12:51:00  233.0    12
9859085  263 2015-07-01 12:56:00  228.0    12
9859084  263 2015-07-01 13:01:00  223.0    13
9859083  263 2015-07-01 13:06:00  211.0    13
9859082  263 2015-07-01 13:11:00  208.0    13
9859081  263 2015-07-01 13:16:00  200.0    13
9859080  263 2015-07-01 13:21:00  191.0    13
9859079  263 2015-07-01 13:26:00  177.0    13
9859078  263 2015-07-01 13:31:00  167.0    13
9859077  263 2015-07-01 13:36:00  164.0    13
9859076  263 2015-07-01 13:41:00  158.0    13
9859075  263 2015-07-01 13:46:00  153.0    13
9859074  263 2015-07-01 13:51:00  144.0    13
9859073  263 2015-07-01 13:56:00  138.0    13
9859072  263 2015-07-01 14:01:00  130.0    14
9859071  263 2015-07-01 14:06:00  118.0    14
9859070  263 2015-07-01 14:11:00  104.0    14
9859069  263 2015-07-01 14:16:00  102.0    14
9859068  263 2015-07-01 14:21:00   97.0    14
9859067  263 2015-07-01 14:26:00   87.0    14
9859066  263 2015-07-01 14:31:00   77.0    14
9859065  263 2015-07-01 14:36:00   70.0    14
9859064  263 2015-07-01 14:41:00   66.0    14
9859063  263 2015-07-01 14:46:00   64.0    14
9859062  263 2015-07-01 14:51:00   66.0    14
9859061  263 2015-07-01 14:56:00   67.0    14
9859060  263 2015-07-01 15:01:00   69.0    15
9859059  263 2015-07-01 15:06:00   71.0    15
9859058  263 2015-07-01 15:11:00   75.0    15
9859057  263 2015-07-01 15:16:00   78.0    15
9860573  263 2015-07-01 15:21:00   83.0    15
9860572  263 2015-07-01 15:26:00   92.0    15
9860571  263 2015-07-01 15:31:00   98.0    15
9860570  263 2015-07-01 15:36:00   98.0    15
9860569  263 2015-07-01 15:41:00   97.0    15
9860568  263 2015-07-01 15:46:00   99.0    15
9860567  263 2015-07-01 15:51:00  103.0    15
9860566  263 2015-07-01 15:56:00  106.0    15
9860565  263 2015-07-01 16:01:00  109.0    16
9860564  263 2015-07-01 16:06:00  115.0    16
9860563  263 2015-07-01 16:11:00  122.0    16
9848018  263 2015-07-01 16:16:00  124.0    16
9848017  263 2015-07-01 16:21:00  125.0    16
9848016  263 2015-07-01 16:26:00  125.0    16
9848015  263 2015-07-01 16:31:00  124.0    16
9848014  263 2015-07-01 16:36:00  128.0    16
9848013  263 2015-07-01 16:41:00  126.0    16
9848012  263 2015-07-01 16:46:00  128.0    16
9848011  263 2015-07-01 16:51:00  129.0    16
9848010  263 2015-07-01 16:56:00  134.0    16
9848009  263 2015-07-01 17:01:00  136.0    17
9848008  263 2015-07-01 17:06:00  139.0    17
9848007  263 2015-07-01 17:11:00  143.0    17
9849449  263 2015-07-01 17:16:00  149.0    17
9849448  263 2015-07-01 17:21:00  154.0    17
9849447  263 2015-07-01 17:26:00  157.0    17
9849446  263 2015-07-01 17:31:00  159.0    17
9849445  263 2015-07-01 17:36:00  164.0    17
9849444  263 2015-07-01 17:41:00  172.0    17
9849443  263 2015-07-01 17:46:00  177.0    17
9849442  263 2015-07-01 17:51:00  179.0    17
9849441  263 2015-07-01 17:56:00  181.0    17
9849440  263 2015-07-01 18:01:00  183.0    18
9849439  263 2015-07-01 18:06:00  183.0    18
9849438  263 2015-07-01 18:11:00  186.0    18
9849437  263 2015-07-01 18:16:00  188.0    18
9849436  263 2015-07-01 18:21:00  189.0    18
9849435  263 2015-07-01 18:26:00  189.0    18
9849434  263 2015-07-01 18:31:00  187.0    18
9849433  263 2015-07-01 18:36:00  187.0    18
9849432  263 2015-07-01 18:41:00  185.0    18
9849431  263 2015-07-01 18:46:00  186.0    18
9849430  263 2015-07-01 18:51:00  188.0    18
9849429  263 2015-07-01 18:56:00  188.0    18
9849428  263 2015-07-01 19:01:00  185.0    19
9849427  263 2015-07-01 19:06:00  186.0    19
9849426  263 2015-07-01 19:11:00  187.0    19
9849425  263 2015-07-01 19:16:00  187.0    19
9849424  263 2015-07-01 19:21:00  190.0    19
9849423  263 2015-07-01 19:26:00  191.0    19
9849422  263 2015-07-01 19:31:00  195.0    19
9849421  263 2015-07-01 19:36:00  198.0    19
9849420  263 2015-07-01 19:41:00  200.0    19
9849419  263 2015-07-01 19:46:00  203.0    19
9849418  263 2015-07-01 19:51:00  205.0    19
9849417  263 2015-07-01 19:56:00  208.0    19
9849416  263 2015-07-01 20:01:00  210.0    20
9849415  263 2015-07-01 20:06:00  212.0    20
9849414  263 2015-07-01 20:11:00  208.0    20
9849413  263 2015-07-01 20:16:00  210.0    20
9849412  263 2015-07-01 20:21:00  209.0    20
9849411  263 2015-07-01 20:26:00  208.0    20
9849410  263 2015-07-01 20:31:00  207.0    20
9849409  263 2015-07-01 20:36:00  203.0    20
9849408  263 2015-07-01 20:41:00  199.0    20
9849407  263 2015-07-01 20:46:00  198.0    20
9849406  263 2015-07-01 20:51:00  194.0    20
9849405  263 2015-07-01 20:56:00  193.0    20
9854821  263 2015-07-01 20:58:00  220.0    20
9849404  263 2015-07-01 21:01:00  231.0    21
9849403  263 2015-07-01 21:06:00  229.0    21
9849402  263 2015-07-01 21:11:00  229.0    21
9849401  263 2015-07-01 21:16:00  228.0    21
9849400  263 2015-07-01 21:21:00  225.0    21
9849399  263 2015-07-01 21:26:00  224.0    21
9849398  263 2015-07-01 21:31:00  218.0    21
9849397  263 2015-07-01 21:36:00  216.0    21
9849396  263 2015-07-01 21:41:00  215.0    21
9849395  263 2015-07-01 21:46:00  211.0    21
9849394  263 2015-07-01 21:51:00  208.0    21
9849393  263 2015-07-01 21:56:00  203.0    21
9849392  263 2015-07-01 22:01:00  203.0    22
9849391  263 2015-07-01 22:06:00  204.0    22
9849390  263 2015-07-01 22:11:00  206.0    22
9849389  263 2015-07-01 22:16:00  203.0    22
9849388  263 2015-07-01 22:21:00  200.0    22
9849387  263 2015-07-01 22:26:00  192.0    22
9849386  263 2015-07-01 22:31:00  185.0    22
9849385  263 2015-07-01 22:36:00  185.0    22
9849384  263 2015-07-01 22:41:00  185.0    22
9849383  263 2015-07-01 22:46:00  186.0    22
9849382  263 2015-07-01 22:51:00  191.0    22
9849381  263 2015-07-01 22:56:00  199.0    22
9849380  263 2015-07-01 23:01:00  204.0    23
9849379  263 2015-07-01 23:06:00  207.0    23
9849378  263 2015-07-01 23:11:00  210.0    23
9849377  263 2015-07-01 23:16:00  210.0    23
9849376  263 2015-07-01 23:21:00  210.0    23
9848992  263 2015-07-01 23:26:00  204.0    23
9848991  263 2015-07-01 23:31:00  200.0    23
9848990  263 2015-07-01 23:36:00  202.0    23
9848989  263 2015-07-01 23:41:00  205.0    23
9848988  263 2015-07-01 23:46:00  209.0    23
9848987  263 2015-07-01 23:51:00  209.0    23
9848986  263 2015-07-01 23:56:00  209.0    23

## 查出某个被试每天测了几次血糖

In [28]:
# 使用groupby来统计每天的血糖数据条数
data['date'] = data['time'].dt.date

daily_data_count = data.groupby('date')['gl'].count()
pd.set_option('display.max_rows',100)

print(daily_data_count)

date
2015-01-04    250
2015-01-05    288
2015-01-06     97
2015-01-08    163
2015-01-09    285
             ...
2016-02-12    288
2016-02-13    289
2016-02-14    289
2016-02-15    289
2016-02-16    134
Name: gl, Length: 351, dtype: int64

In [29]:
continuous_days = 0
target_dates = []

for date, count in daily_data_count.items():
        
    if continuous_days >= 7:
        break   
        
    elif 270 <= count <= 288:
        continuous_days += 1
        target_dates.append(date)
        
    else:
        continuous_days = 0
        target_dates = []

print("每天血糖数据量大于280且连续天数大于7的日期:", total_continuous_days)

# need_data = data[data['time'].dt.date.isin(total_continuous_days[0])]
# need_data.shape

每天血糖数据量大于280且连续天数大于5的日期: [[datetime.date(2015, 1, 9), datetime.date(2015, 1, 10), datetime.date(2015, 1, 11), datetime.date(2015, 1, 12), datetime.date(2015, 1, 13)]]

In [30]:
for i in total_continuous_days[0]:
    day_data = data[data['time'].dt.date == i][['time','id','gl']]
    day_data = day_data.set_index('time')
    print(day_data)
    break

                      id     gl
time
2015-01-09 00:00:00  263  126.0
2015-01-09 00:05:00  263  123.0
2015-01-09 00:10:00  263  117.0
2015-01-09 00:15:00  263  113.0
2015-01-09 00:20:00  263  112.0
...                  ...    ...
2015-01-09 23:35:00  263  177.0
2015-01-09 23:40:00  263  179.0
2015-01-09 23:45:00  263  188.0
2015-01-09 23:50:00  263  195.0
2015-01-09 23:55:00  263  203.0

[285 rows x 2 columns]

In [159]:
for i in total_continuous_days[0]:
    
    day_data = data[data['time'].dt.date == i][['time','id','gl']]

    if day_data.shape[0] >= 288:
        print("血糖记录满足288的日期: ",i)
        
        day_data = day_data.set_index('time')
        
        day_data.to_csv(r"C:\Users\admin\Desktop\263.csv", mode='a', header=False,index=True)
        
    elif day_data.shape[0] < 288:
        print("{}这天的血糖记录数不满足288".format(i))
        print("day_data.shape",day_data.shape)
        #设置秒为0
        day_data.loc[:,'time'] = day_data['time'].apply(lambda dt: dt.replace(second=0))

        # 设置起始时间
        #start_date = min_time.replace(hour=0, minute=min_time.minute, second=0, microsecond=0)
        start_time = day_data['time'].min()

        # 计算结束时间
        end_time = day_data['time'].max()

        # 生成完整的时间序列，每隔5分钟有一个数据
        full_time_index = pd.date_range(start=start_time, end=end_time, freq='5T')

        # 删除重复的时间戳
        data_unique_times = day_data[~day_data['time'].duplicated(keep='first')]
        
        # 将时间戳设置为索引
        data_unique_times = data_unique_times.set_index('time')

        # 使用完整的时间序列重新索引
        data_interpolated = data_unique_times.reindex(index=full_time_index)
        
        # 进行线性插值
        data_interpolated['gl'] = data_interpolated['gl'].interpolate(method='time')

        data_interpolated.to_csv(r"C:\Users\admin\Desktop\263.csv", mode='a', header=False)

血糖记录满足288的日期:  2015-02-16
血糖记录满足288的日期:  2015-02-17
血糖记录满足288的日期:  2015-02-18
血糖记录满足288的日期:  2015-02-19
血糖记录满足288的日期:  2015-02-20
2015-02-21这天的血糖记录数不满足288
day_data.shape (282, 3)

In [145]:
data_interpolated.shape

(288, 2)

In [109]:
desired_date = pd.to_datetime('2015, 1, 14').date()

day_data = data[data['time'].dt.date == desired_date][['time','gl']]

if day_data.shape[0] == 288:
    print("{}这天测够了288条数据".format(desired_date))
if day_data.shape[0] < 288:
    second = 0
    day_data.loc[:,'time'] = day_data['time'].apply(lambda dt: dt.replace(second=0))
    print("原始时间序列：",day_data.shape)
    # 设置起始时间
    #start_date = min_time.replace(hour=0, minute=min_time.minute, second=0, microsecond=0)
    start_time = day_data['time'].min()
    print("start_time:",start_time)
    
    # 计算结束时间
    end_time = day_data['time'].max()
    print("end_time:", end_time)

    # 生成完整的时间序列，每隔5分钟有一个数据
    full_time_index = pd.date_range(start=start_time, end=end_time, freq='5T')
    print("完整的时间序列",full_time_index.shape)
    
    # 删除重复的时间戳
    data_unique_times = day_data[~day_data['time'].duplicated(keep='first')]
    print("删除重复的时间戳之后的原序列:",data_unique_times.shape)
        
    # 将时间戳设置为索引
    data_unique_times = data_unique_times.set_index('time')

    # 使用完整的时间序列重新索引
    data_interpolated = data_unique_times.reindex(index=full_time_index)

    # 进行线性插值
    data_interpolated['gl'] = data_interpolated['gl'].interpolate(method='linear')
    print("data_interpolated:",data_interpolated.shape)
    
    # 最后，你可以将处理后的数据按照日期格式存储到字典中
#     interpolated_data = {}
#     for timestamp, row in data_interpolated.iterrows():
#         date_str = timestamp.strftime('%Y-%m-%d %H:%M:%S')
#         interpolated_data[date_str] = row['gl']
#     day_data = pd.DataFrame(list(interpolated_data.items()), columns=['timestamp', 'gl'])

原始时间序列： (279, 2)
start_time: 2015-01-14 00:00:00
end_time: 2015-01-14 23:55:00
完整的时间序列 (288,)
删除重复的时间戳之后的原序列: (279, 2)
data_interpolated: (288, 1)

In [149]:
pd.set_option('display.max_rows',None)

In [150]:
# pd.set_option('display.max_rows',None)
# day_data['time'] = day_data.to_datetime(['time'])

# 设置时间列为索引
day_data.set_index('time', inplace=True)

# 使用resample按小时进行分组，并计算每个小时内的记录条数
hourly_count = day_data.resample('H').size()

print(hourly_count)

KeyError: "None of ['time'] are in the columns"

In [50]:
import pandas as pd
import numpy as np

# 创建示例数据（假设数据已经加载到DataFrame df 中）
# 请将示例数据替换为你的实际数据
data = {
    'id': [236] * 24,
    'time': pd.to_datetime([
        '2015-05-22 14:40:56', '2015-05-22 14:42:23', '2015-05-22 14:44:31',
        '2015-05-22 14:49:31', '2015-05-22 14:54:31', '2015-05-22 14:59:31',
        '2015-05-22 15:04:31', '2015-05-22 15:09:31', '2015-05-22 15:14:31',
        '2015-05-22 15:19:31', '2015-05-22 15:24:31', '2015-05-22 15:29:31',
        '2015-05-22 15:34:31', '2015-05-22 15:39:31', '2015-05-22 15:44:31',
        '2015-05-22 15:49:31', '2015-05-22 15:54:31', '2015-05-22 15:59:31',
        '2015-05-22 16:04:31', '2015-05-22 16:09:31', '2015-05-22 16:14:31',
        '2015-05-22 16:19:31', '2015-05-22 16:24:31', '2015-05-22 16:29:31'
    ]),
    'gl': [183.0, 203.0, 194.0, 191.0, 199.0, 207.0, 211.0, 216.0, 217.0, 213.0, 210.0,
           208.0, 206.0, 203.0, 200.0, 198.0, 197.0, 200.0, 201.0, 207.0, 208.0, 212.0,
           206.0, 204.0]
}
df = pd.DataFrame(data)

# 将时间列转换为日期时间类型
df['time'] = pd.to_datetime(df['time'])

# 获取每个时间的小时、分钟和秒
df['hour'] = df['time'].dt.hour

df['minute'] = df['time'].dt.minute

print(df)
# 创建用于插值的时间序列
complete_time_range = pd.date_range(start=df['time'].min(), end=df['time'].max(), freq='5T')

# 对每个小时的数据进行插值
result = []
for hour in df['hour'].unique():
    hour_data = df[df['hour'] == hour]
    
    if len(hour_data) < 12:
        # 进行插值
        interpolated_time_range = complete_time_range[(complete_time_range.hour == hour) & (complete_time_range.minute % 5 == 0)]
        interpolated_gl = np.interp(
            interpolated_time_range.minute, hour_data['minute'], hour_data['gl'], left=np.nan, right=np.nan
        )
        
        interpolated_data = pd.DataFrame({
            'time': interpolated_time_range,
            'id': hour_data['id'].iloc[0],
            'gl': interpolated_gl
        })
        
        result.append(interpolated_data)
    else:
        result.append(hour_data)

# 合并插值后的数据
final_result = pd.concat(result)

print(final_result)

     id                time     gl  hour  minute
0   236 2015-05-22 14:40:56  183.0    14      40
1   236 2015-05-22 14:42:23  203.0    14      42
2   236 2015-05-22 14:44:31  194.0    14      44
3   236 2015-05-22 14:49:31  191.0    14      49
4   236 2015-05-22 14:54:31  199.0    14      54
5   236 2015-05-22 14:59:31  207.0    14      59
6   236 2015-05-22 15:04:31  211.0    15       4
7   236 2015-05-22 15:09:31  216.0    15       9
8   236 2015-05-22 15:14:31  217.0    15      14
9   236 2015-05-22 15:19:31  213.0    15      19
10  236 2015-05-22 15:24:31  210.0    15      24
11  236 2015-05-22 15:29:31  208.0    15      29
12  236 2015-05-22 15:34:31  206.0    15      34
13  236 2015-05-22 15:39:31  203.0    15      39
14  236 2015-05-22 15:44:31  200.0    15      44
15  236 2015-05-22 15:49:31  198.0    15      49
16  236 2015-05-22 15:54:31  197.0    15      54
17  236 2015-05-22 15:59:31  200.0    15      59
18  236 2015-05-22 16:04:31  201.0    16       4
19  236 2015-05-22 16:09:31  207.0    16       9
20  236 2015-05-22 16:14:31  208.0    16      14
21  236 2015-05-22 16:19:31  212.0    16      19
22  236 2015-05-22 16:24:31  206.0    16      24
23  236 2015-05-22 16:29:31  204.0    16      29
                  time   id     gl  hour  minute
0  2015-05-22 14:40:56  236  183.0   NaN     NaN
1  2015-05-22 14:45:56  236  193.4   NaN     NaN
2  2015-05-22 14:50:56  236  192.6   NaN     NaN
3  2015-05-22 14:55:56  236  200.6   NaN     NaN
6  2015-05-22 15:04:31  236  211.0  15.0     4.0
7  2015-05-22 15:09:31  236  216.0  15.0     9.0
8  2015-05-22 15:14:31  236  217.0  15.0    14.0
9  2015-05-22 15:19:31  236  213.0  15.0    19.0
10 2015-05-22 15:24:31  236  210.0  15.0    24.0
11 2015-05-22 15:29:31  236  208.0  15.0    29.0
12 2015-05-22 15:34:31  236  206.0  15.0    34.0
13 2015-05-22 15:39:31  236  203.0  15.0    39.0
14 2015-05-22 15:44:31  236  200.0  15.0    44.0
15 2015-05-22 15:49:31  236  198.0  15.0    49.0
16 2015-05-22 15:54:31  236  197.0  15.0    54.0
17 2015-05-22 15:59:31  236  200.0  15.0    59.0
0  2015-05-22 16:00:56  236    NaN   NaN     NaN
1  2015-05-22 16:05:56  236  202.2   NaN     NaN
2  2015-05-22 16:10:56  236  207.2   NaN     NaN
3  2015-05-22 16:15:56  236  208.8   NaN     NaN
4  2015-05-22 16:20:56  236  210.8   NaN     NaN
5  2015-05-22 16:25:56  236  205.6   NaN     NaN

In [51]:
df['hour'].unique()

array([14, 15, 16])